* {
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 60px;
}


input {
  color: gray;
  font-size: 1.2 rem;
  width: 100%;
}

.tarjeta{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.tarjeta p{
  padding: 5px;
  text-align: center;
}

.tarjeta img {
  max-height: 170px;
}

.grid-tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}